body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.menu-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tablinks {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tablinks:hover {
  background-color: #ddd;
}

.tabcontent {
  display: none;
  padding-top: 20px;
  margin-bottom: 20px;
}

.navbar-nav .nav-item .nav-link.active {
  background-color: #ccc; /* Replace #ccc with the desired greyish color */
  border: 2px solid #000; /* Black border */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
}
