{% extends 'base-template.html' %}

{% block title %}Upload File{% endblock %}

{% block main %}
<div class="container mt-5">
   <h2 class="mb-4">Upload a File</h2>
   <form method="post" action="/uploader" enctype="multipart/form-data" class="form-container">
      <!-- Choose File -->
      <div class="mb-3">
         <label for="file" class="form-label">Choose File</label>
         <input type="file" class="form-control" id="file" name="file" required>
      </div>

      <!-- Model Selection Dropdown -->
      <div class="mb-3">
         <label for="model" class="form-label">Model Selection</label>
         <select class="form-select" id="model" name="model" required>
            {% for model_name in model_names %}
            <option value="{{ model_name }}">{{ model_name }}</option>
            {% endfor %}
         </select>
      </div>

      <!-- Localization Dropdown -->
      <div class="mb-3" id="localization-div" style="display: none;">
         <label for="localization" class="form-label">Localization</label>
         <select class="form-select" id="localization" name="localization">
            {% for loc in localizations %}
            <option value="{{ loc }}">{{ loc|capitalize }}</option>
            {% endfor %}
         </select>
      </div>

      <!-- Gender Dropdown -->
      <div class="mb-3" id="gender-div" style="display: none;">
         <label for="sex" class="form-label">Sex</label>
         <select class="form-select" id="gender" name="sex">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
         </select>
      </div>

      <!-- Age Input Box -->
      <div class="mb-3" id="age-div" style="display: none;">
         <label for="age" class="form-label">Age</label>
         <input type="number" class="form-control" id="age" name="age" min="0" max="120">
      </div>

      <!-- Upload Button -->
      <button type="submit" class="btn btn-primary">Upload</button>
   </form>

   <script>
      // Function to toggle the visibility and 'required' attribute for Age, Localization, and Sex based on the selected model
      function toggleFieldsVisibility() {
         var modelDropdown = document.getElementById('model');
         var ageInput = document.getElementById('age');
         var localizationDiv = document.getElementById('localization-div');
         var sexDiv = document.getElementById('gender-div');
         var ageDiv = document.getElementById('age-div');

         if (modelDropdown.value === 'Multi-input') {
            ageInput.required = true;
            localizationDiv.style.display = 'block';
            sexDiv.style.display = 'block';
            ageDiv.style.display = 'block';
         } else {
            ageInput.required = false;
            localizationDiv.style.display = 'none';
            sexDiv.style.display = 'none';
            ageDiv.style.display = 'none';
         }
      }

      // Add an event listener to the Model Selection dropdown to call the function when the value changes
      document.getElementById('model').addEventListener('change', toggleFieldsVisibility);

      // Call the function on page load to set the initial state
      toggleFieldsVisibility();
   </script>

</div>
{% endblock %}